@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";._title_b8yjw_1 {
    margin-top: 50px;
    font-size: 40px
}

._hasActiveSignalTitle_b8yjw_6 {
    margin-top: 50px;
    font-size: 20px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 16px #00000040,0 4px 4px #00000040;
    background: var(--card-background);
    width: 100%
}

._hasActiveSignalButton_b8yjw_16 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--primary-text);
    border-radius: 16px;
    padding: 18px 24px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1);
    width: 100%;
    margin-top: 32px
}

._hasActiveSignalButton_b8yjw_16:disabled {
    cursor: not-allowed;
    background: linear-gradient(270deg,#bebfc2 18.95%,#4d4e58)
}

._mainTitle_1a0aq_1 {
    margin-top: 10px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
    color: var(--primary-text)
}

._card_r52l9_1 {
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 16px #00000040,0 4px 4px #00000040;
    background: var(--card-background);
    width: 100%
}

._card_r52l9_1._win_r52l9_9 {
    box-shadow: inset 0 4px 16px 0 var(--win),inset 0 4px 4px 0 var(--win)
}

._card_r52l9_1._lose_r52l9_12 {
    box-shadow: inset 0 4px 16px 0 var(--lose),inset 0 4px 4px 0 var(--lose)
}

._card_r52l9_1._neutral_r52l9_15 {
    box-shadow: inset 0 4px 16px 0 var(--neutral),inset 0 4px 4px 0 var(--neutral)
}

._notWorkingContainer_r52l9_20 {
    margin-top: 30px
}

._notWorkingContainer_r52l9_20 h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    line-height: 150%;
    color: var(--primary-text)
}

._notWorkingContainer_r52l9_20 ._times_r52l9_32 p {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-text)
}

._selectors_r52l9_41 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    gap: 15px
}

._selectorsRight_r52l9_49 {
    display: flex;
    align-items: center;
    gap: 16px
}

._signalInfo_r52l9_55 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}

._signalInfoMiddle_r52l9_63 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%
}

._signalInfoMiddle_r52l9_63>div {
    width: 50%!important
}

._startText_r52l9_75 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-text)
}

._loaderWrapper_r52l9_83 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px
}

._signalTitle_r52l9_90 {
    text-align: left;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-text);
    margin-bottom: 10px
}

._signalHeader_r52l9_100 {
    display: flex;
    align-items: start;
    justify-content: space-between
}

._signalResults_r52l9_106 {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: .06em;
    text-transform: uppercase;
    text-align: center
}

._signalResults_r52l9_106._lose_r52l9_12 {
    color: var(--lose)
}

._signalResults_r52l9_106._win_r52l9_9 {
    color: var(--win)
}

._signalResults_r52l9_106._neutral_r52l9_15 {
    color: var(--neutral)
}

._signalDirection_r52l9_125 {
    display: flex;
    align-items: center;
    gap: 10px
}

._endTimeText_r52l9_131 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #fbfbfb;
    text-transform: lowercase
}

._row_r52l9_141 {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem
}

._currentSymbol_r52l9_147 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--primary-text)
}

._up_r52l9_158,._down_r52l9_159 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px
}

._up_r52l9_158 {
    color: var(--win)
}

._down_r52l9_159 {
    color: var(--lose)
}

._signalBtn_r52l9_172,._resetButton_r52l9_173 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--primary-text);
    border-radius: 16px;
    padding: 18px 24px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1);
    width: 100%;
    margin-top: 32px
}

._resetButton_r52l9_173 {
    background: linear-gradient(270deg,#320f5f 18.95%,#4598e1);
    margin-top: 10px
}

._mainButton_r52l9_193 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--primary-text);
    margin-top: 20px
}

._signalBtn_r52l9_172:disabled,._resetButton_r52l9_173:disabled {
    cursor: not-allowed;
    background: linear-gradient(270deg,#bebfc2 18.95%,#4d4e58)
}

._widgetWrap_r52l9_210 {
    margin-top: 20px;
    height: 500px
}

._loader_1566b_1 {
    width: 40px;
    height: 40px;
    background: linear-gradient(#0f235f,#4598e1);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#fff 0);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#fff 0);
    border-radius: 50%;
    animation: _spin_1566b_1 1.5s linear infinite
}

@keyframes _spin_1566b_1 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

._wrapper_1ybbi_1 {
    position: relative;
    width: 190px;
    z-index: 2
}

._selectedPair_1ybbi_7 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text)
}

._button_1ybbi_16 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #0f235f;
    padding: 10px 16px
}

._button_1ybbi_16._disabled_1ybbi_27 {
    cursor: not-allowed;
    border-color: #4d4e58
}

._button_1ybbi_16 svg path {
    transition: stroke .2s
}

._button_1ybbi_16 svg {
    width: 18px;
    height: 18px
}

._button_1ybbi_16 ._langImg_1ybbi_41 {
    width: 20px;
    height: 20px
}

._button_1ybbi_16 ._arrowDown_1ybbi_46 {
    transition: .5s
}

._button_1ybbi_16._open_1ybbi_50 ._arrowDown_1ybbi_46 {
    transform: rotate(180deg)
}

._currLang_1ybbi_54 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text)
}

._dropdown_1ybbi_63 {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .2s
}

._container_1ybbi_74 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
    border-radius: 12px;
    border: 1px solid #0f235f;
    background-color: #0b0a0f;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s,padding .2s,opacity .2s;
    max-height: 300px;
    overflow-y: scroll
}

._dropdown_1ybbi_63._open_1ybbi_50 {
    grid-template-rows: 1fr
}

._dropdown_1ybbi_63._open_1ybbi_50 ._container_1ybbi_74 {
    opacity: 1;
    padding: 8px 11px;
    visibility: visible
}

._langButton_1ybbi_101 {
    transition: color .2s;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text);
    padding-left: 10px
}

._langButton_1ybbi_101._active_1ybbi_112 {
    background: #ffffff29;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255,255,255,.2);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px
}

._imagesContainer_1gr4s_1 {
    width: 56px;
    height: 20px;
    position: relative;
    transform: scale(.5);
    bottom: 7px
}

._imagesContainer_1gr4s_1>._logo_1gr4s_9>svg {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0
}

._imagesContainer_1gr4s_1>._logo_1gr4s_9:first-child>svg {
    clip-path: path("M38 0H0v16.02L1 16a21 21 0 0 1 20.98 22H38V0Z")
}

._imagesContainer_1gr4s_1>._logo_1gr4s_9:last-child>svg {
    transform: translate(-18px,18px)
}

._wrapper_w5j5k_1 {
    position: relative;
    width: 75px;
    z-index: 2
}

._button_w5j5k_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    border-radius: 8px;
    padding: 10px 5px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1)
}

._button_w5j5k_7._disabled_w5j5k_18 {
    cursor: not-allowed;
    background: linear-gradient(270deg,#bebfc2 18.95%,#4d4e58)
}

._button_w5j5k_7 svg path {
    transition: stroke .2s
}

._button_w5j5k_7 svg {
    width: 18px;
    height: 18px
}

._button_w5j5k_7 ._langImg_w5j5k_32 {
    width: 20px;
    height: 20px
}

._button_w5j5k_7 ._arrowDown_w5j5k_37 {
    transition: .5s
}

._button_w5j5k_7._open_w5j5k_41 ._arrowDown_w5j5k_37 {
    transform: rotate(180deg)
}

._currLang_w5j5k_45 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text)
}

._dropdown_w5j5k_54 {
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .2s
}

._container_w5j5k_65 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
    border-radius: 12px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1);
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255,255,255,.2);
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s,padding .2s,opacity .2s
}

._dropdown_w5j5k_54._open_w5j5k_41 {
    grid-template-rows: 1fr
}

._dropdown_w5j5k_54._open_w5j5k_41 ._container_w5j5k_65 {
    opacity: 1;
    padding: 8px 11px;
    visibility: visible
}

._langButton_w5j5k_93 {
    transition: color .2s;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text);
    padding-left: 10px
}

._langButton_w5j5k_93._active_w5j5k_104 {
    background: #ffffff29;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255,255,255,.2);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px
}

._container_3amuh_1 {
    background: var(--inner-field-background);
    border-radius: 16px;
    padding: 8px 16px;
    text-align: left;
    width: 100%
}

._title_3amuh_9 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--secondary-text);
    margin-bottom: 4px
}

._content_3amuh_18 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--primary-text)
}

._wrapper_dk7in_1 {
    position: relative;
    width: 75px;
    z-index: 2
}

._button_dk7in_7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    border-radius: 8px;
    padding: 10px 5px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1)
}

._button_dk7in_7 svg path {
    transition: stroke .2s
}

._button_dk7in_7 svg {
    width: 18px;
    height: 18px
}

._button_dk7in_7 ._langImg_dk7in_27 {
    width: 20px;
    height: 20px
}

._button_dk7in_7 ._arrowDown_dk7in_32 {
    transition: .5s
}

._button_dk7in_7._open_dk7in_36 ._arrowDown_dk7in_32 {
    transform: rotate(180deg)
}

._currLang_dk7in_40 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text)
}

._dropdown_dk7in_49 {
    position: absolute;
    top: 140%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .2s
}

._container_dk7in_60 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
    border-radius: 12px;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1);
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255,255,255,.2);
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s,padding .2s,opacity .2s
}

._dropdown_dk7in_49._open_dk7in_36 {
    grid-template-rows: 1fr
}

._dropdown_dk7in_49._open_dk7in_36 ._container_dk7in_60 {
    opacity: 1;
    padding: 8px 11px;
    visibility: visible
}

._langButton_dk7in_88 {
    transition: color .2s;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-text);
    padding-left: 10px
}

._langButton_dk7in_88._active_dk7in_99 {
    background: #ffffff29;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255,255,255,.2);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px
}

._wrapper_118hq_1 {
    margin: 15px auto 0;
    width: 85%;
    border-radius: 40px;
    border: 2px solid #030303;
    box-shadow: 0 0 8px 3px #fbfbfb;
    overflow: hidden
}

._container_118hq_11 {
    border-radius: 40px;
    width: 100%;
    height: 10px;
    overflow: hidden
}

._bar_118hq_18 {
    height: 100%;
    background: linear-gradient(270deg,#0f235f 18.95%,#4557e1)
}

._timeText_118hq_23 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #fbfbfb;
    margin-top: 15px
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Ubuntu", sans-serif;
    --third-family: "Roboto Mono", sans-serif;
    --card-background: #141722;
    --primary-background: #0b0a0f;
    --inner-field-background: #000;
    --primary-text: #fff;
    --secondary-text: #707a83;
    --win: #1fbf7b;
    --lose: #c92a2a;
    --neutral: #e38b29
}

body {
    margin: 0;
    padding: 10px 24px 40px;
    background: var(--primary-background);
    font-family: var(--font-family);
    color: var(--primary-text);
    text-align: center
}

a {
    color: #2c3fa5
}

* {
    padding: 0;
    margin: 0;
    border: none
}

*,*:before,*:after {
    box-sizing: border-box
}

a,a:link,a:visited,a:hover {
    text-decoration: none
}

aside,nav,footer,header,section,main {
    display: block
}

h1,h2,h3,h4,h5,h6,p {
    font-size: inherit;
    font-weight: inherit
}

ul,ul li {
    list-style: none
}

img {
    vertical-align: top
}

img,svg {
    max-width: 100%;
    height: auto
}

address {
    font-style: normal
}

input,textarea,button,select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent
}

input::-ms-clear {
    display: none
}

button,input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer
}

input:focus,input:active,button:focus,button:active {
    outline: none
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

label {
    cursor: pointer
}

legend {
    display: block
}
